<div class="app-content">
  <div class="group">
    <form #editForm="ngForm" id="ngForm" (ngSubmit)="onSubmit(editForm)">
      <mat-label id="oldPassMissing" class="error" *ngIf="oldPassMissing && oldPassErrorRemove">Please Enter Your Current Password</mat-label>
      <mat-label id="wrongPass" class="error" *ngIf="oldPassWrong && oldPassErrorRemove">The password you have entered is incorrect.</mat-label>
      <div class="oldPassword">
        <mat-form-field>
          <mat-placeholder [class.error]="(oldPassMissing || oldPassWrong) && oldPassErrorRemove" class="placeholder">Current Password</mat-placeholder>
          <input matInput required type="password" name="oldPassword" id="oldPassword" (click)="oldPassErrorRemove = false" ngModel>
        </mat-form-field>
      </div>
      <div class="newPassword">
        <mat-label id="passNotMatch" class="error" *ngIf="!passwordsMatch && newPassErrorRemove">Passwords Must Match!</mat-label>
        <mat-label id="newPassMissing" class="error" *ngIf="newPassMissing && newPassErrorRemove">New Password Not Entered!</mat-label>
        <mat-form-field>
          <mat-placeholder [class.error]="!passwordsMatch && newPassErrorRemove" class="placeholder">New Password</mat-placeholder>
          <input matInput required type="password" name="newPassword" id="newPassword" (click)="newPassErrorRemove = false" ngModel>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-placeholder [class.error]="!passwordsMatch && newPassErrorRemove" class="placeholder">Confirm New Password</mat-placeholder>
          <input matInput required type="password" name="confirmPassword" id="confirmPassword" (click)="newPassErrorRemove = false"
            ngModel>
        </mat-form-field>
      </div>
      <div>
        <button mat-button id="submit" form="ngForm">Submit</button>
        <button type="button" mat-button id="cancel" (click)="cancelForm()">Cancel</button>
      </div>
    </form>
  </div>
</div>
