@media screen and (max-width: 480px) {
  mat-toolbar>#search {
    display: none;
  }
}

@media screen
/* 480 for phone */

and (max-width: 680px) {
  mat-toolbar>* {
    display: none;
  }
  .mat-toolbar>#menuTab {
    display: flex;
  }
}

#menuTab {
  display: none;
}

.mat-toolbar {
  color: white;
  background-color: #1d262a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  font-weight: bold;
}

#status-buttons {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

#UserFace {
  width: 35px;
  height: 35px;
  font-size: 35px;
  cursor: pointer;
}

#drop-down {
  width: 75px;
}

#loginFix {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-right: 1%;
  justify-content: flex-end;
}

#UserMenu {
  margin-left: -50px;
}

#loggedIn {
  margin-left: 8px;
}

.mat-raised-button {
  color: black;
  min-width: 80px;
  line-height: 30px;
}

.mat-raised-button:hover {
  color: white;
  background: #818F95;
  height: 100%;
}

.mat-elevation-z6 {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.mat-button:hover{
  color: black;
  background-color: white;
  cursor: pointer;
}

#search {
  display: flex;
  justify-content: flex-end;
  margin-right: 3%;
  border-color: white;
  color:black;
  font-size-adjust: small;
  color: gray;
}

.mat-form-field {
  display: inline-flex;
  height: 100%;
}

#iconWrapper {
  display: flex;
  height: 25px;
  align-items: center;
  background: white;
  border-radius: 4px;
}

.black-icon {
  position: relative;
  background: white;
  color: gray;
  border-radius: 4px;
}

::ng-deep #mat-autocomplete-0 {
  margin-left: -23px;
}

mat-option {
  display: flex;
  height: 40px;
}

:host::ng-deep .mat-input-infix {
  margin-top: -23px;
}

:host::ng-deep .mat-input-underline {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

mat-placeholder{
  font-size: small;
  line-height: normal;
}